@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.html);
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(/fonts/MaterialIcons-Regular.woff) format('woff'), url(/fonts/MaterialIcons-Regular.ttf) format('truetype')
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(/fonts/webfonts/fa-solid-900.eot);
  src: url(/fonts/webfonts/fa-solid-900d41d.eot?#iefix) format("embedded-opentype"), url(/fonts/webfonts/fa-solid-900.woff2) format("woff2"), url(/fonts/webfonts/fa-solid-900.woff) format("woff"), url(/fonts/webfonts/fa-solid-900.ttf) format("truetype"), url(/fonts/webfonts/fa-solid-900.svg#fontawesome) format("svg")
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(/fonts/webfonts/fa-regular-400.eot);
  src: url(/fonts/webfonts/fa-regular-400d41d.eot?#iefix) format("embedded-opentype"), url(/fonts/webfonts/fa-regular-400.woff2) format("woff2"), url(/fonts/webfonts/fa-regular-400.woff) format("woff"), url(/fonts/webfonts/fa-regular-400.ttf) format("truetype"), url(/fonts/webfonts/fa-regular-400.svg#fontawesome) format("svg")
}


@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url(/fonts/fonts/webfonts/fa-brands-400.html);
  src: url(/fonts/webfonts/fa-brands-400d41d.eot?#iefix) format("embedded-opentype"), url(/fonts/webfonts/fa-brands-400.woff2) format("woff2"), url(/fonts/webfonts/fa-brands-400.woff) format("woff"), url(/fonts/webfonts/fa-brands-400.ttf) format("truetype"), url(/fonts/webfonts/fa-brands-400.svg#fontawesome) format("svg")
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/nunito-v9-latin-regular.eot");
  src: local("Nunito Regular"), local("Nunito-Regular"), url("/fonts/nunito-v9-latin-regulard41d.eot?#iefix") format("embedded-opentype"), url("/fonts/nunito-v9-latin-regular.woff2") format("woff2"), url("/fonts/nunito-v9-latin-regular.woff") format("woff"), url("/fonts/nunito-v9-latin-regular.ttf") format("truetype"), url("/fonts/nunito-v9-latin-regular.svg#Nunito") format("svg")
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/nunito-v9-latin-600.eot");
  src: local("Nunito SemiBold"), local("Nunito-SemiBold"), url("/fonts/nunito-v9-latin-600d41d.eot?#iefix") format("embedded-opentype"), url("/fonts/nunito-v9-latin-600.woff2") format("woff2"), url("/fonts/nunito-v9-latin-600.woff") format("woff"), url("/fonts/nunito-v9-latin-600.ttf") format("truetype"), url("/fonts/nunito-v9-latin-600.svg#Nunito") format("svg")
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/nunito-v9-latin-700.eot");
  src: local("Nunito Bold"), local("Nunito-Bold"), url("/fonts/nunito-v9-latin-700d41d.eot?#iefix") format("embedded-opentype"), url("/fonts/nunito-v9-latin-700.woff2") format("woff2"), url("/fonts/nunito-v9-latin-700.woff") format("woff"), url("/fonts/nunito-v9-latin-700.ttf") format("truetype"), url("/fonts/nunito-v9-latin-700.svg#Nunito") format("svg")
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/nunito-v9-latin-800.eot");
  src: local("Nunito ExtraBold"), local("Nunito-ExtraBold"), url("/fonts/nunito-v9-latin-800d41d.eot?#iefix") format("embedded-opentype"), url("/fonts/nunito-v9-latin-800.woff2") format("woff2"), url("/fonts/nunito-v9-latin-800.woff") format("woff"), url("/fonts/nunito-v9-latin-800.ttf") format("truetype"), url("/fonts/nunito-v9-latin-800.svg#Nunito") format("svg")
}
